extends partials/layout.pug

block content
  .heading
    h1 Contact Us
  .contact-form
    form
      .form-group
        label(for='name') Name
        input.form-control#name(type='text' placeholder='John Doe')
      .form-group
        label(for='email') Email Address
        input.form-control#email(type='email' placeholder='you@example.com')
      .form-group
        label(for='phone') Phone Number
        input.form-control#phone(type='tel' placeholder='234-567-8901')
      .form-group
        label(for='message') Phone Number
        textarea.form-control#message(rows=5 placeholder='What\'s the secret ingredient?')
      .contact-form__submit
        a.btn.btn-danger.btn-lg(href='/') Cancel
        input.btn.btn-success.btn-lg(type='submit' value='Submit')
