doctype html
html
  head
    title My App!
    link(rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/main.css')
  body
    .container
      .welcome
        .welcome__text
          h1 Welcome to Pizza de Scott!
        .welcome__image
          img(src='/images/pizza.jpg')
